extends layout 

block content 

    h1 Category: #{category.name}

    div(style='margin-left:20px;margin-top:20px')

        h4 Tea

        dl 
            each tea in category_tea
                dt
                    a(href=tea.url) #{tea.name}
                    |  (#{tea.numberInStock} in Stock)
                dd #{tea.description}

            else
                p This category has no tea
    hr
    p
        a(href=`/categories/delete/${category.name}`) Delete Category
    p
        a(href=`/categories/update/${category.name}`) Update Category
